<footer class="pm-footer">
  <div class="pm-footer-inner">
    <div>
      <strong>ProjectMate</strong> · Connect · Collaborate · Create
      <br />
      <span>&copy; <%= new Date().getFullYear() %> ProjectMate. All rights reserved.</span>
    </div>
    <div class="pm-footer-links">
      <a href="/">Home</a>
      <a href="/project/find">Browse</a>
      <a href="/project/create">Create</a>
      <% if (locals.user) { %>
        <a href="/user/profile">Profile</a>
      <% } else { %>
        <a href="/user/login">Login</a>
        <a href="/user/signup">Sign up</a>
      <% } %>
    </div>
  </div>
</footer>
