<nav class="pm-navbar">
  <div class="pm-navbar-inner">
    <div class="pm-navbar-left">
      <a href="/" class="pm-navbar-logo">
        <span style="font-weight:600;font-size:1.1rem;color:#f9fafb;">P</span>
      </a>
      <a href="/" class="pm-navbar-brand">ProjectMate</a>
    </div>

    <div class="pm-navbar-center d-none d-md-flex">
      <a href="/" class="pm-nav-link pm-nav-link-active">Home</a>
      <a href="/project/find" class="pm-nav-link">Browse</a>
      <a href="/project/create" class="pm-nav-link">Create</a>
      <% if (locals.user) { %>
        <a href="/project/show" class="pm-nav-link">My Projects</a>
        <a href="/project/applications" class="pm-nav-link">Applications</a>
        <a href="/project/history" class="pm-nav-link">History</a>
      <% } %>
    </div>

    <div class="pm-navbar-right">
      <% if (locals.user) { %>
        <div class="pm-pill d-none d-sm-inline-flex">
          Signed in as&nbsp;<strong><%= user.name.split(' ')[0] %></strong>
        </div>
        <a href="/user/profile" class="pm-btn pm-btn-ghost d-none d-sm-inline-flex">Profile</a>
        <a href="/user/logout" class="pm-btn pm-btn-primary">Logout</a>
      <% } else { %>
        <div class="pm-pill d-none d-sm-inline-flex">
          Collaborative project matcher
        </div>
        <a href="/user/login" class="pm-btn pm-btn-ghost">Log in</a>
        <a href="/user/signup" class="pm-btn pm-btn-primary">Get started</a>
      <% } %>
    </div>
  </div>
</nav>
